@model EsiaNet8Sample.Models.OrganizationSelectViewModel

@{
    ViewBag.Title = "Информация о пользователе";
}

<div class="text-center">
    <div class="org-selector">
        <h3>Выберите организацию:</h3>
        <br/>

        <div class="btn-group-vertical">
            @foreach (var personRole in Model.PersonRoles)
            {
                <a asp-action="OrganizationSelect" asp-route-id="@Html.DisplayFor(_ => personRole.oid)" class="btn btn-outline-dark" title="@Html.DisplayFor(_ => personRole.fullName)">
                    <h4>@Html.DisplayFor(_ => personRole.shortName)</h4>
                    <small>ОГРН: @Html.DisplayFor(_ => personRole.ogrn)</small>
                </a>
            }
        </div>
    </div>
</div>

<style>
    .org-selector {
        text-align: center;
    }

</style>